html, body{
    height: 100%;
}
body{
    background: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* padding: 0 0 0 60px; */
}
a, button, input{
    transition: all 0.5s ease;
}
a:hover, button:hover, input:hover{
    transition: all 0.5s ease;
}
a, button, input,
a:focus, button:focus, input:focus{
    outline: none;
    box-shadow: none;
}
header,
.breadcrumb_area,
.product_sections,footer{
    margin: 0 0 0 60px;
}
header .navbar{
    width: 100%;
    min-height: 100px;
    background-color: #FFF;
    align-items: center;
    padding: 0 50px 0 30px;
}
header .navbar ul li a{
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    padding-left: 12px !important;
    padding-right: 12px !important;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
}
header .navbar ul li a:hover::after,
header .navbar ul li a.active::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s ease;
    width: 80%;
    height: 15px;
    background: #feeb9f;
    z-index: -1;
}
header .navbar ul.nav.icon_area{
    margin-left: 40px;
}
header .navbar ul.nav.icon_area li a::after{
    display: none;
}
header .navbar ul.nav.icon_area li a svg{
    width: 20px;
}
header .navbar ul.nav.icon_area li a span{
    position: absolute;
    top: -10px;
    right: 0;
    background: #ffd640;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 11px;
}
.breadcrumb_area{
    padding: 40px 0 40px 0;
}
.breadcrumb_area nav ol{
    background: transparent;
    padding: 0;
    margin: 0;
}
.breadcrumb_area nav ol li a,
.breadcrumb_area nav ol li{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumb_area nav ol li a{
    text-decoration: none;
    color:  #b3b3b3;
}
.breadcrumb_area nav ol li{
    color: #000000;
}
.breadcrumb_area nav ol li a svg{
    width: 17px;
}
.breadcrumb_area .breadcrumb-item+.breadcrumb-item::before{
    content: '\f0da';
    font-family: 'FontAwesome';
    color: #fed03c;
}

/*********************************
Related Proudct sections
*********************************/
.product_sections{}
.product_sections h2{
    font-size: 22px;
    margin: 0 0 40px 0;
    font-weight: bold;
}
.product_sections ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 100px 0;
}
.product_sections ul li{
    margin: 0 10px 10px 0;
    width: 18%;
}
.product_sections ul li:last-child{
    margin-right: 0;
}
.product_sections ul li .product_items{
    width: 100%;
    min-height: 350px;
    background: #fafafa;
}
.product_sections ul li .product_items .product_img{
    min-height: 220px;
    text-align: center;
}
.product_sections ul li .product_items .product_img img{
    max-width: 200px;
}
.product_sections ul li .product_items .product_price{
    padding: 0 20px;
    text-align: center;
}
.product_sections ul li .product_items .product_price h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 30px 0;
}
.product_sections ul li .product_items .product_price .price_tag{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_sections ul li .product_items .product_price .price_tag p{
    margin: 0 8px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
.product_sections ul li .product_items .product_price .price_tag p.old_price{
    color: #b3b3b3;
}
/*****************************
footer sections
******************************/
footer{
    /* width: 100%; */
    min-height: 530px;
    background-color: #ffd541;
}
.footer_newsletter{
    padding: 150px 0 0 0;
}
.footer_newsletter h2{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    padding: 0 0 30px 0;
}
.footer_newsletter h2::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 40%;
    height: 1px;
    background: #e6be3a;
    margin: 0 auto;
    bottom: 0;
}
.sub_footer{
    margin: 150px 0 0 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    align-items: center;
}
.sub_footer::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: #e6be3a;
    width: 94%;
    height: 1px;
}
.sub_footer .menus_logo{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0 0 0 5%;
}
.sub_footer .menus_logo .footer_menus ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.sub_footer .menus_logo .footer_menus ul li a{
    padding-right: 10px;
    position: relative;
    color: #000000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
}
.sub_footer .menus_logo .footer_menus ul li a:hover::after,
.sub_footer .menus_logo .footer_menus ul li a.active::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s ease;
    width: 80%;
    height: 15px;
    background: #ffe27c;
    z-index: -1;
}

footer .footer_socail_meida{
    padding:  0 30px 0 0;
}
footer .footer_socail_meida ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
footer .footer_socail_meida ul li{
    margin: 0 0 0 15px;
}
footer .footer_socail_meida ul li a{
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

/*********************************
slier sections sections
*********************************/
.slider_sections{
    position: relative;
    margin: 20px 0 60px 0;
}
.slider_sections .carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider_sections .carousel-indicators{
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: 0;
    width: 25%;
    padding: 0 50px 0 0;
}
.slider_sections .carousel-indicators li{
    background: transparent;
    position: relative;
    z-index: 1;
    font-weight: bold;
    z-index: 1;
}
.slider_sections .carousel-indicators li.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 23px;
    width: 100%;
    background: #feeaa1;
    height: 8px;
    z-index: -1;
}
.slider_sections .carousel-indicators li{
    width: 100%;
    height: 60px;
    text-indent: 0;
    color: #000;
    position: relative;
    text-align: right;
    right: 0;
    cursor: pointer;
    padding: 15px 0 0 0;
}
.slider_sections .carousel-indicators li span{
    position: absolute;
    left: 0px;
    font-size: 100px;
    color: #FFF;
    font-weight: bold;
    transform: rotate(-90deg);
    transform-origin: top left;
    top: 300px;
    display: none;
}
.slider_sections .carousel-indicators li.active span{
    display: block;
}
.slider_sections .carousel-indicators li.active:first-child span{
    top: 290px;
}
.slider_sections .carousel-indicators li.active:nth-child(2) span{
    top: 350px;
}
.slider_sections .carousel-indicators li.active:nth-child(3) span{
    top: 250px;
}
.slider_sections .carousel-indicators li.active:nth-child(4) span{
    top: 230px;
}
.slider_sections .carousel-inner{
    width: 75%;
    text-align: left;
}
.slider_sections .carousel-inner .tabs_one{
    width: 100%;
    min-height: 600px;
    background: #FFF;
    margin: 0 0 0 100px;
    display: flex;
}
.slider_sections .carousel-inner .tabs_one .img_section{
    margin: 50px 50px 50px -50px;
}
.slider_sections .carousel-inner .tabs_one .img_section img{
    width: 100%;
}
.product_description{
    padding: 60px 0px 0 0;
    max-width: 410px;
}
.product_description h2{
    /* max-width: 300px; */
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.product_description ul.ratting{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.product_description ul.ratting li{
    margin: 0 2px;
    display: flex;
}
.product_description ul.ratting li a i{
    font-size: 20px;
    color: #ffd244;
}
.product_description ul.ratting li a span{
    font-size: 14px;
    color: #b6b6b6;
}
.product_description .price{
    display: flex;
    margin: 15px 0 0 0;
}
.product_description .price p{
    margin: 0 8px;
    font-weight: bold;
    color: #3a3a3a;
    font-size: 18px;
}
.product_description .price p.old_price{
    color: #b6b6b6;
}
.product_description .warrant_sections{
    margin: 30px 0;
    padding: 20px 0;
    border-top: solid 1px #b6b6b6;
    border-bottom: solid 1px #b6b6b6;
}
.product_description .warrant_sections ul{
    padding: 0 0 0 20px;
    margin: 0;
}
.product_description .warrant_sections ul li{
    font-size: 12px;
}
.product_description .warrant_sections ul li span{
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 10px 0 0;
    font-weight: bold;
    color: #000000;
}
.dispatch_sections{
    display: flex;
}
.dispatch_sections ul{
    padding: 0 0 0 20px;
    margin: 0;
    display: flex;
    list-style: none;
}
.dispatch_sections ul li{
    margin: 0 15px 0 0;
    display: flex;
}
.dispatch_sections ul li p{
    text-transform: uppercase;
    font-size: 13px;
    color: #000000;
    margin: 0 0 0 10px;
    max-width: 110px;
    font-weight: 500;
}
.dispatch_sections ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 38px;
    background: #e5e5e5;
    border-radius: 50%;
}
.dispatch_sections ul li span svg{
    width: 16px;
    fill: #000000;
}
.color_sections{
    margin: 15px 0 0 0;
}
.color_sections p{
    font-size: 13px;
    color: #3a3a3a;
    margin: 0 0 10px 0;
    font-weight: bold;
}
.custom-radios{
    margin: 30px 0 0 0;
}
.custom-radios h3{
    font-size: 14px;
    margin: 0 0 15px 0;
    font-weight: bold;
    text-transform: uppercase;
}
.custom-radios div {
    display: inline-block;
  }
  .custom-radios input[type="radio"] {
    display: none;
  }
  .custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
    max-width: 10px;
  }
  .custom-radios input[type="radio"]#color-1 + label span {
    background-color: #dad5ab;
  }
  .custom-radios input[type="radio"]#color-2 + label span {
    background-color: #000000;
  }
  .custom-radios input[type="radio"]#color-3 + label span {
    background-color: #FFF;
  }
  .custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
  }

.cart_btn{
    margin: 30px 0 0 0;
    text-align: center;
    display: flex;
}
.cart_btn .number{
    display: flex;
}
.cart_btn .number input{
    width: 40px;
    text-align: center;
    border: solid 1px transparent;
    background: #eeeeee;
}
.cart_btn .number .minus,
.cart_btn .number .plus{
    width: 35px;
    height: 43px;
    background: #eeeeee;
    border-radius: 0;
    padding: 0;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.cart_btn button{
    background: #ffd541;
    color: #FFF;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    min-height: 42px;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px #ffd541;
    letter-spacing: 2px;
}
.description_slids{
    position: relative;
    min-height: 600px;
}
.description_slids img{
    width: 100%;
    height: 600px;
}
.description_slids h2{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 550px;
    background: #f0f0f0;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}
.description_slids .text_content{
    position: absolute;
    left: 0;
    top: 124px;
    background: #f0f0f0;
    width: 300px;
    padding: 10px 50px 10px 10px;
    height: 100%;
}
.description_slids .text_content p{
    text-align: justify;
    font-size: 13px;
}
.reviews_sections{
    min-height: 600px;
    width: 100%;
    padding: 50px 0 0 50px;
}
.reviews_sections h2{
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.reviews_sections .ratting{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 60px 0;
}
.reviews_sections .ratting li{
    margin: 0 4px;
}
.reviews_sections .ratting li a i{
    color: #ffd541;
    font-size: 18px;
}
.reviews_sections .ratting li a span{
    font-size: 12px;
    color: #b3b3b3;
    margin-left: 10px;
}
.reviews_sections .ratting li a:hover{
    text-decoration: none;
}
.reviews_sections .user_sections{
    display: flex;
    align-items: center;
}
.reviews_sections .user_sections .user_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: #b3b3b3;
}
.reviews_sections .user_sections .user_img img{
    width: 100%;
}
.reviews_sections .user_sections .user_name{
    margin: 0 0 0 15px;
}
.reviews_sections .user_sections .user_name p{
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 0;
    color: #000000;
}
.reviews_sections .user_sections .user_name span{
    font-size: 12px;
    color: #b3b3b3;
}
.excenlent_star{
    margin: 60px 0 0 0;
}
.excenlent_star h4{
    font-size: 16px;
    font-weight: bold;
}
.excenlent_star ul{
    margin: 0 0 20px 0!important;
}
.add_comments{
    margin: 20px 0 0 0;
}
.add_comments a{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    color: #000000;
}
.add_comments a:hover{
    text-decoration: none;
}
.add_comments a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffd541;
}
.custom_tab_sections{
    position: relative;
}
.custom_tab_sections img{
    width: calc(100% - 100px);
    height: 600px;
    margin: 0 0 0 100px;
}
.custom_tab_sections .overlay_img{
    position: absolute;
    left: 0;
    bottom: 30px;
}
.custom_tab_sections .overlay_img img{
    max-width: 400px;
    width: 100%;
    height: 300px;
    margin: 0 0 0 40px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.77);
}
.custom_tab_sections .download_tabs{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ffd541;
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom_tab_sections .download_tabs p{
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.custom_tab_sections .download_tabs p svg{
    width: 30px;
    margin: 0 15px 0 0;
}
.for_mobile_div{
    display: none;
}

@media(max-width: 1199px){
    .product_sections ul{
        flex-wrap: wrap;
        justify-content: inherit;
    }
    .product_sections ul li{
        width: 24%;
    }
}
@media(max-width: 1024px){
    .product_sections ul{
        justify-content: center;
    }
    .product_sections ul li{
        width: 32%;
    }

}
@media(max-width: 991px){
    .slider_sections .carousel-indicators li.active::after{
        display: none;
    }
    .slider_sections .carousel-indicators li.active{
        background: #ffd640;
    }
    .navbar-collapse .nav.navbar-nav{
        position: relative;
    background: #FFF;
    z-index: 999;
    width: 100%;
    left: 0;
    border-top: solid 1px #CCC;
    }
    header .navbar ul li a:hover::after, header .navbar ul li a.active::after{
        display: none;
    }
    .navbar-brand{
        display: none;
    }
    .for_mobile_div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 100px;
        align-items: center;
    }
    .for_mobile_div .navbar-brand{
        display: inline-block;
        margin: 0 0px 0 50px;
    }
    .for_mobile_div .navbar-toggler svg{
        width: 35px;
        transform: rotate(90deg);
    }
    .for_mobile_div ul{
        display: flex !important;
        flex-direction: inherit;
        margin: 0 !important;
    }
    header, .breadcrumb_area, .product_sections, footer{
        margin: 0;
    }
    .for_mobile_div ul{
        display: flex;
    }
    .breadcrumb_area{
        display: none;
    }
    .slider_sections{
        margin: 0;
        border-top: solid 1px #b3b3b3;
    }
    .slider_sections .carousel-indicators{
        background-color: #FFF;
        display: flex;
        width: 100%;
        padding: 0;
    }
    .slider_sections .carousel{
        flex-direction: column;
    }
    .slider_sections .carousel-indicators li{
        width: auto;
        padding: 15px;
    }
    .slider_sections .carousel-inner{
        width: 96%;
        margin: 40px 0 80px 0;
    }
    .slider_sections .carousel-inner .tabs_one{
        width: calc(100% - 20px);
        margin: 0 0 0 20px;
    }
    .slider_sections .carousel-indicators li.active span{
        display: none;
    }
    .description_slids h2{
        max-width: 100%;
    }
    .description_slids .text_content{
        position: relative;
        top: 20px;
        padding: 10px;
        width: 100%;
    }
    .custom_tab_sections img{
        width: calc(100% - 20px);
        margin: 0 0 0 20px;
    }
    .custom_tab_sections .overlay_img{
        left: -40px;
    }
    .product_sections h2{
        padding-left: 30px;
    }
    .reviews_sections{
        padding: 10px;
    }
    .navbar ul.nav.icon_area{
        display: none;
    }
}
@media(max-width: 800px){
    .product_sections ul li{
        width: 31%;
    }
}
@media(max-width: 767px){
    .product_sections ul li{
        width: 40%;
    }
}
@media(max-width: 767px){
    .slider_sections .carousel-inner{
        width: 90%;
        margin: 40px auto 60px;
    }
    .slider_sections .carousel-inner .tabs_one{
        width: 100%;
        margin: 50px 0 0 0;
        flex-direction: column;
        display: block;
    }
    .slider_sections .carousel-inner .tabs_one .img_section img{
        margin: -70px 0 0 0;
    }
    .slider_sections .carousel-inner .tabs_one .img_section{
        margin: 0;
        padding: 20px 30px 20px 30px;
    }
    .product_description{
        max-width: 100%;
        padding: 30px;
    }
    .sub_footer{
        flex-direction: column;
    }
    .sub_footer .menus_logo{
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
        margin: 30px 0 30px 0;
    }
    .footer_logo{
        margin: 0 0 40px 0;
    }
    .sub_footer .menus_logo .footer_menus ul{
        justify-content: center;
        flex-direction: column;
    }
}
@media(max-width: 480px){
    .slider_sections .carousel-indicators li{
        padding: 15px 10px;
        margin: 0;
    }
    .for_mobile_div .navbar-brand{
        margin: 0;
    }
    header .navbar{
        padding: 0 10px;
    }
}
@media(max-width: 414px){
    .slider_sections .carousel-indicators li{
        padding: 15px 6px;
        font-size: 13px;
    }
    header .navbar ul li a{
        padding-left: 8px!important;
        padding-right: 8px !important;
    }
    .product_sections ul li{
        width: 90%;
        margin: 0 0 10px 0;
    }
    .for_mobile_div .navbar-toggler svg{
        width: 30px;
    }
    .dispatch_sections ul{
        flex-direction: column;
        margin: 0;
    }
    .dispatch_sections ul li{
        margin:  0 0 20px 0;
    }
    .product_description h2,
    .description_slids h2,
    .reviews_sections h2{
        font-size: 25px;
    }
}
@media(max-width: 360px){
    .cart_btn{
        flex-direction: column;
    }
    .cart_btn .number,
    .cart_btn .number input,
    .cart_btn button{
        width: 100%;
    }
}